/***
=============================================== 

    Portfolio template (gemini)
    Made by Sueun Lee (Zoe L)
    https://github.com/quicksilversel

=============================================== 
***/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

