/***
=============================================== 

    Portfolio template (gemini)
    Made by Sueun Lee (Zoe L)
    https://github.com/quicksilversel

=============================================== 
***/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e7e7e7;
    background-size:cover;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: transparent;
}

#banner {
    color: black;
    font-family: "Raleway";
    text-decoration: none;
    font-size: 65px;
    padding-top:5%;
}

.nav-link {
    margin:1%;
    color: black;
    font-size: 25px;
    font-family:'Yantramanav';
    text-transform: uppercase;
}

.display {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    height:100%;
    padding-top:10%;
    -webkit-overflow-scrolling: touch;
}

.display img {
    flex: 0 0 auto;
    width: 100%;
    min-width:20rem;
    max-width:30vmin;
    transition: transform 0.3s ease-in-out;
}

.display img:hover {
    transform: scale(1.05);
}

#pics {
    padding-left: 5%;
    padding-right: 5%;
}

#caption {
    position: relative;
}

#caption .text {
    position: absolute;		
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Yantramanav", sans-serif;
    text-transform: uppercase;
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;			
}
#caption .text h1 {		
    margin: 0;		
    color: white;
}
#caption:hover .text {
	opacity: 1;
	
}

.footer {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Raleway", sans-serif;
}


